.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
    background-image: url("./circle.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 0 20px;
}

.title {
  font-size: 3em;
  color: #fff;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.message {
  font-size: 1.5em;
  color: #fff;
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.button {
  padding: 15px 30px;
  font-size: 1em;
  color: #fff;
  background-color: #ff7000;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  font-family: "Roboto", sans-serif;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.button:hover {
  background-color: #e65100;
  transform: scale(1.05);
}
